version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/energoshin.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - flask
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: ""
    command: sleep infinity

  flask:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask
    volumes:
      - .:/app
    environment:
      FLASK_ENV: production
    command: flask run --host=0.0.0.0 --port=5000
    expose:
      - "5000"