version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx_reverse_proxy
    volumes:
      - ./config/nginx:/etc/nginx/conf.d
      - ./anime_verse/staticfiles:/staticfiles
      - ./anime_verse/media:/media
      - /etc/letsencrypt/live/energoshin.am/fullchain.pem:/etc/ssl/certs/api.crt:ro
      - /etc/letsencrypt/live/energoshin.am/privkey.pem:/etc/ssl/private/api.key:ro

    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - flask
    networks:
      - shared-net


  flask:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask
    volumes:
      - .:/app
    environment:
      FLASK_ENV: production
    command: flask run --host=0.0.0.0 --port=5000
    expose:
      - "5000"
    networks:
      - shared-net


networks:
  shared-net:
    name: shared-net
    driver: bridge
